#init-content {
    height: 100%; 
    min-height: 100%; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-align-items: center; 
    align-items: center; 
    -webkit-justify-content: center; 
    justify-content: center;
    position: relative;
    margin-top: -80px;
}

#new {
    margin: 40px 0 0 -150px;
    position: absolute;
}

#bt-search {
    cursor: pointer;
    margin: 0 0 0 10px;
    display: block;
    width: 50px;
    height: 50px;
}

#new-name {
    margin: 30px 0 0 30px;
}

#new-phone {
    margin: 0 0 0 30px;
}

#btn-new {
    margin: 10px 0 0 30px;
}